@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --duration-normal: 300ms;
}

@layer base {
  html,
  body {
    @apply overflow-x-hidden scroll-smooth;
  }

  body {
    @apply bg-haiti text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading;
  }

  section[id] {
    @apply scroll-mt-36;
  }
}

@layer components {
  .nav-gradient::before {
    content: '';
    background: radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(105, 59, 147, 0.2) 0%,
      rgba(110, 191, 244, 0.0447917) 77.08%,
      rgba(70, 144, 213, 0) 100%
    );

    @apply backdrop-blur-2xl absolute w-full h-full -z-10 opacity-0 md:opacity-100 transition duration-[var(--duration-normal)];
  }
}
